body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.container {
  margin: 0 auto;
  width: 40rem;
}

.header {
  font-size: 2rem;
  padding: 1rem 0;
  text-align: center;
}

.error {
  color: red;
}

.footer {
  text-align: center;
}

input,
textarea {
  margin: 1rem 0;
  padding: 0.5rem;
  resize: none;
  width: 100%;
}
